<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.black" android:versionCode="2" android:versionName="1.0"
	android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />

	<application android:icon="@drawable/flute" android:label="@string/app_name">
		<activity android:name=".pipe.PipeActivity" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".pipe.ChangeHoleActivity"
			android:theme="@android:style/Theme.NoTitleBar"></activity>

		<activity android:name=".pipe.ChangeInstrumentActivity"
			android:theme="@android:style/Theme.NoTitleBar"></activity>
			
		<activity android:name=".pipe.ChangeBlowPressureActivity"
			android:theme="@android:style/Theme.NoTitleBar"></activity>
	</application>
</manifest>